<?xml version="1.0"?>
<robot name="rabbot_gazebo" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find rabbot_description)/include/urdf/rabbot_gazebo_core.urdf.xacro"/>

  <xacro:ria_e100 base_hw_interface="hardware_interface/VelocityJointInterface"/>
  <xacro:cobotta_arm arm_hw_interface="hardware_interface/PositionJointInterface"/>

  <gazebo>
    <plugin name="rabbot_control" filename="libgazebo_ros_control.so">
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>



</robot>
