<launch>
  <!-- Controller -->
  <node name="denso_cobotta_control" pkg="denso_cobotta_control" type="denso_cobotta_control" output="screen">
    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}]: ${node}: ${message}"/>
  </node>
  
  <rosparam file="$(find denso_cobotta_descriptions)/cobotta_description/denso_cobotta_control.yaml" command="load" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller arm_controller" />


</launch>
