<launch>
 
  <!-- gripper type: none/parallel/vacuum --> 
  <arg name="gripper_type" default="parallel"/>
  <param name="gripper_type" value="$(arg gripper_type)"/>

  <!-- Driver node -->
  <include file="$(find denso_cobotta_driver)/launch/denso_cobotta_driver.launch">
    <arg name="enable_calset" value="false" />
  </include>

  <!-- Control node -->
  <include file="$(find denso_cobotta_control)/launch/denso_cobotta_control.launch"/>
  
  <!-- Gripper node -->
  <group if="$(eval arg('gripper_type') != 'none')">
    <include file="$(find denso_cobotta_gripper)/launch/denso_cobotta_gripper.launch">
      <arg name="gripper_type" value="$(arg gripper_type)"/>
    </include>
  </group>

</launch>
