<?xml version="1.0"?>
<launch>

  <!--Rabbot Base launch -->
  <include file="$(find e100_bringup)/launch/minimal.launch"/>


  <!-- Rabbot Description -->
  <include file="$(find rabbot_description)/launch/description.launch"/>


   <!-- 2D Lidar sensor - Hokuyo -->
   <arg name="laser" default="$(env HOKUYO)"/>
   <group if="$(eval arg('laser')==true )">
   	<include file="$(find rabbot_bringup)/include/hokuyo.launch.xml"/>	
   </group>

   <!--Realaense Camera-->
   <arg name="camera" default="$(env REALSENSE)"/>
   <group if="$(eval arg('camera')==true )">
   	<include file="$(find rabbot_bringup)/include/realsense.launch.xml"/>	
   </group>

</launch>
